.full-item{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0 , 0 , 0 , 0.8);
    z-index: 9999;
    overflow: auto;
    .full-item-content{
        width: 600px;
        position: relative;
        margin: 10% auto;
        padding: 40px 30px;
        background: #fff;
        border-radius: 10px ;
        .full-item-close{
            color:  #ca5252;
            float: right;
            top: -15px;
            position: relative;
            transform: scale(1.5);
            cursor: pointer;
            transition: color , transform 500ms ease;

            &:hover{
                color: #d83030;
                transform: scale(2);
            }
        }
        img{
            width: 100%;
            cursor: pointer;
            border-radius: 10px 10px 0 0;
            
        }
    }

    h2 , p , b {
        margin: 10px 20px ;
        color: #333;
    }

    b{
         color: #5fa36a;
    }

    .addCart{
        text-align: center;
        position: absolute;
        right: 20px;
        bottom: 20px;
        background: #ca5252;
        width: 35px;
        height: 35px;
        line-height: 35px;
        color: #fff;
        border-radius:50%;
        cursor: pointer;
        font-weight: 600;
        transition: transform 500ms ease;
        &:hover{
            transform: scale(1.2) translateY(-5px);
        }
    }
    
}